<section class="col-md-12">
    <form [formGroup]="searchForm">
        <label>
            <input class="w-100 text-center" type="text" (keyup)="searchTerm.next($event)" formControlName="search" placeholder="Type your search"/>
            <div *ngIf="loading">
                <p class="search-message">Searching</p>
                <div class="lds-ellipsis">
                    <div></div><div></div><div></div><div></div>
                </div>
            </div>
        </label>
    </form>

    <div *ngIf="searchResults">
        <div class="results">
            <div class="repo" *ngFor="let result of paginationElements | paginate: {itemsPerPage: 9, currentPage: page}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                        <div class="col-sm">
                    <img class="p-2" loading="lazy" [attr.src]="result.images.original.url"
                    width="200"
                    height="auto"
                    alt="{{result.title}}"
                    />
                    <p class="titleHeading w-100">{{result.title}}</p>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <div *ngIf="errorMessage" class="errorMessage">
    <h2>Error</h2>
    <p class="error">{{errorMessage}}</p>        
    </div>
</section>